.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:rgb(80, 255, 138);
    padding: 30px;
   

}
.grid-items{
    position:relative;
    right:10px;
    background-color: rgb(236, 221, 198);
    text-align: center;
    width: 90px;
    padding: 100px;
    margin:1px;
}